body{
    background-image: url("../img/logo.png");
    color: black;
    background-repeat: no-repeat;
    background-position: right;
    background-position-y:bottom ;
    background-attachment: fixed;
   
}
.text{
    width: 60%;
}
h1{
    text-align: center;
    color: tomato;
}
h2{
    text-align: center;
    color: dodgerblue;
}