.cover{
    background-image: url("../img/cover.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 300px;
    display: block;
    /* position: relative; */
    padding-left: 350px;
    padding-top: 200px;
}
.avarta{
    border: solid 10px white;
    width: 200px;
    height: 200px;
    /* transform: translate(100px, -155px); */
    margin-left: 100px;
    margin-top: -155px;
}